/*Body style section*/
body{
    margin: 0;
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/*box shadow style section*/
.container{
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: fit-content;
    width: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 8px 12px rgba(0, 0, 0.25);
    border-radius: 10px;
    background-color: coral;
    margin: 10px;
}

/*text style section*/
#txtinput{
   width: 400px;
   height: 50px;
   border-style: none;
   color: black;
   padding-left: 30px;
   font-size: 30px;
   border-radius: 5px;
}

/*h1 style section*/
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/*P style section*/
p{
   font-size: 20px;
   text-align: center; 
}

/*meaning style section*/
.meaning-container{
    display: none;
    justify-content: center;
    padding-left: 50px;
}

/*title style section*/
.title{
    text-transform: uppercase;
}

/*Audio style*/
audio{
    margin-bottom: 20px;
    padding-left: 50px;
    position:  relative;
}